* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Montserrat', sans-serif;
  }
  .headM {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1;
  } 
  .head {
    display: flex;
    justify-content: space-between;
    padding: 10px; 
    flex-wrap: wrap;
    background-color: #c7dff7;
    height: 80px;
    overflow: hidden;
  }
  .brand, nav, .media {
    display: flex;
    align-items: center;  
  }
  .brand img {
    height: 60%; 
    object-fit: contain; 
  }
  .par {
    display: none;
  }
  .media {
    display: none; 
  }
  .navlist  {
    position: absolute;
    width: 50%;
    top: 5rem;
    right: 0px;
    background-color: #c7dff7;
    z-index: 1
  }
  .navlist li {
    display: block;
    flex-direction: column;
    margin-right: 18px;
  }
  .navlist li a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: #1a1a37;
    padding: 10px 0;
  }
  .navlist a:hover, .media a:hover {
    color: rgb(52, 80, 204);
  }
  .active {
    color: rgb(52, 80, 204) !important;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  #dropdownMenu {
    display: none;
    position: absolute;
    right: 60px;
    width: 50%;
    background-color: #1a1a37;
  }
  .dropdown:hover #dropdownMenu {
    display: block;
  }
   
  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }
  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: black;
  }
  .hide {
    display: none;
  }
  .hero {
    background-image: url(../images/og_image1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 500px;
  }
  .heroCont {
    height: 250px !important;
  }
  .heroText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    min-width: fit-content
  }
  
  .hello, #know, #know1  {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 10px;
    
  }
  .name {
    font-size: 40px;
    font-weight: bold;
    text-shadow: 5px 5px 3px #1a1a37;
    margin-bottom: 18px;
  }
  .butt {
    padding: 15px;
    background-color: #1a1a37;
    border-radius: 15px;
    color: white;
    margin-top: 18px;
  }
  .butt a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }
  .butt a:hover {
    opacity: 0.5;
    
  }
  .abut{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0px auto;
    background-color: #c7dff7;
  }
  .imgPics {
    display: block;
    object-fit: cover;
    border: 5px solid #1a1a37;
    box-shadow: 0 4px 8px 0 #1a1a37, 0 6px 20px 0 #1a1a37;
    margin: 30px auto;
   }
   
   .abutText {
     text-align: center;
     padding: 8px 18px;
     width: 100%;
   }
   .photoAbout {
    background-color: #1a1a37;
    font-size: 13px;
    color: #fff;
    margin: 30px auto;
    width: 40%;
    padding: 5px;
    box-shadow: 0 4px 8px 0 #1a1a37, 0 6px 20px 0 #1a1a37;
  }
  .skillsFlex {
    display: flex;
    margin: 15px 0;
    font-size: 8px;
  }
  .photoText {
    width: 100%;
    padding: 10px;
  }  
  .skills {
    background-color: #1a1a37;
    color: #fff;
    width: 20%;
    text-align: center;
    padding: 5px auto;
    height: inherit;
  }
  .skillPercent {
    background-color: #505057;
    width: 70%;
    height: inherit;
  }
  .skillPercent1 {
    background-color: #505057;
    width: 60%;
    height: inherit;
  }
  .skillPercentNum {
    background-color: #fff;
    width: 10%;
    color: black;
    font-size: 10px;
    padding: 5px;
    text-align: center;
  }
  .skillPercentNum1 {
    background-color: #fff;
    color: black;
    font-size: 13px;
    padding: 5px;
    text-align: center;
  }
  .tab {
    overflow: hidden;
    text-align:center;
    margin:0 auto;
  }
  .tab button {
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 3px;
    transition: 0.3s;
    font-size: 10px;
    width: 15%;
  }
  .tabLink:hover {
    background-color: #e5ecf3;
  }
  .tabContent {
    color: #1a1a37;
    display: none;
    height: 100%;
  }
  .port{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
  .portImg {
    margin: 0 auto;
    transition: width 2s;
  }
  .portImg:hover {
    width: 100%;
  }
  #footer {
    padding: 15px;
    background-color: #1a1a37;
    text-align: center;
  }
  #footer a {
    display: inline-block;
    margin-right: 18px;
    text-decoration: none;
    color: #fff;
  }
  #footer a:hover {
    color: #505057;
  }
  .form {
    width: 80%;
    margin: 10px auto;
    background-color: #c7dff7;
    text-align: center;
  }
  .formIn {
    background-color: #1a1a37;
    border: 3px solid #add4fa;
    box-shadow: 0 4px 8px 0 #1a1a37, 0 6px 20px 0 #1a1a37;
    color: #fff;
    padding-bottom: 5px;
  }
  input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    width: 80%;
    margin: 15px 0;
    padding: 5px;
    color: #fff;
  }
  textarea {
    width: 80%;
    margin: 15px 0;
    padding: 5px;
    color: #fff;
    background-color: transparent;
  }
  .butt {
    display: block;
    text-align: center;
    padding: 8px;
    margin: 0 auto;
    cursor: pointer;
  }
  .oltre {
    width: 80%;
    margin: 10px auto;
  }
  .oltreText {
    font-size: 15px;
    line-height: 1.6;
    margin: 15px 0;
  }
  .mySlides1, .mySlides2 {
    display: none;
  }
  img {
   vertical-align: middle;
  }
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-bottom: 55px;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: #f1f1f1;
    color: black;
  }
  .arrow {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 10px;
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  @media screen and (min-width: 751px) {
    .brand img {
      height: 100%; 
    }
    .media {
      display: none; 
    }
    .navlist {
      display: flex;
      position: static;
      width: auto;
      margin-right: 20px;
      background: none;
    }
    .navlist li {
      display: inline;
      margin-right: 18px;
    }
    .navlist li a, .media a {
      display: inline-block;
      margin-right: 18px;
      text-decoration: none;
      color: #1a1a37;
    }
    .dropdown {
      position: static;
      display: inline-block;
    }
    #dropdownMenu {
      position: absolute;
      right: 50px;
      width: 100px;
    }
    #dropdownMenu a, .par {
     display: block;
    }
     
    .hamburger {
      display: none;
    }
    .navlist li a, .par {
      font-size: 15px;
    }
    .abut, .port{
      flex-direction: row;
    }
    .portImg {
      padding: 15px;
      width: 80%;
    }
    .photo {
      width: 40%;
    }
    .photoText {
     width: 60%;
    }
    .skillsFlex {
      font-size: 13px;
     }
     .skillPercentNum1 {
      width: calc(100% - 100px - 60%);
    }
    .tab button {
      padding: 14px 16px;
      font-size: 17px;
    }
    .photoAbout {
      font-size: 18px;
    }
    .tabContent {
      padding: 30px 20px;
    }
    .oltre {
      width: 60%;
    }
    .form {
      padding: 35px 55px;
    }
    .formIn {
      padding: 40px;
    }
  } 
  @media screen and (min-width: 901px) {
    .head {
      justify-content: space-around;
      flex-wrap: wrap;
    }
    .media {
      display: flex;
      position: relative; 
    }
    #dropdownMenu {
      left: 65%;
      width: 100px;
    }
    .navlist li a, .media a {
      font-size: 18px;
    }
    .form {
      width: 60%;     
    }
  }   
  
