#navcol-1 {
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

.herogI {
  width: 100%;
  height: 50vh;
  background: url("../../assets/img/help2.jpg") center / cover no-repeat;
  opacity: 1;
  margin-top: 35px;
}

.hero {
  width: 100%;
  height: 50vh;
  background: url("../../assets/img/helph1.jpg") center / cover no-repeat;
  opacity: 1;
  margin-top: 35px;
}

.heroCU {
  width: 100%;
  height: 50vh;
  background: url("../../assets/img/contactus-1.jpg") center / cover no-repeat;
  opacity: 1;
  margin-top: 35px;
}

.heroab {
  width: 100%;
  height: 50vh;
  background: url("../../assets/img/helph2.jpg") center / cover no-repeat;
  opacity: 1;
  margin-top: 35px;
}

.herowwd {
  width: 100%;
  height: 50vh;
  background: url("../../assets/img/help1.jpg") center / cover no-repeat;
  opacity: 1;
  margin-top: 35px;
}

@media (min-width: 992px) {
  .heroab {
    width: 100%;
    height: 50vh;
    background: url("../../assets/img/helph2.jpg") center / cover no-repeat;
    opacity: 1;
    margin-top: 65px;
  }
}

@media (min-width: 992px) {
  .heroCU {
    width: 100%;
    height: 50vh;
    background: url("../../assets/img/contactus-1.jpg") center / cover no-repeat;
    opacity: 1;
    margin-top: 65px;
  }
}

@media (min-width: 992px) {
  .herogI {
    width: 100%;
    height: 50vh;
    background: url("../../assets/img/help2.jpg") center / cover no-repeat;
    opacity: 1;
    margin-top: 65px;
  }
}

@media (min-width: 992px) {
  .hero {
    width: 100%;
    height: 50vh;
    background: url("../../assets/img/helph1.jpg") center / cover no-repeat;
    opacity: 1;
    margin-top: 65px;
  }
}

@media (min-width: 992px) {
  .herowwd {
    width: 100%;
    height: 50vh;
    background: url("../../assets/img/help1.jpg") center / cover no-repeat;
    opacity: 1;
    margin-top: 65px;
  }
}

#og-logo {
  background: url("../../assets/img/Og%20logo_com.png") center / cover no-repeat;
  width: 135px;
  height: 50px;
}

@media (min-width: 768px) and (max-width: 991px) {
  #og-logo {
    background: url("../../assets/img/og%20logo1.png") center / cover no-repeat;
    width: 60px;
    height: 50px;
  }
}

body {
  font-family: Montserrat, sans-serif;
  text-align: center;
  background-color: #f6f7fc;
}

@media (min-width: 576px) {
  body {
    font-family: Montserrat, sans-serif;
  }
}

#Button-top {
  font-size: 18px;
  background: #00BE45;
  border-style: solid;
  border-color: #00BE45;
  border-radius: 10px;
  box-shadow: inset 3px 3px #0A093A;
  padding: 5px 15px;
}

#myhome-heading {
  color: #ffffff;
  font-size: 25PX;
}

@media (min-width: 768px) {
  #myhome-heading {
    color: #ffffff;
    font-size: 60PX;
    text-shadow: 1px 1px 0px #000000;
  }
}

#myhome-paragraph {
  color: #ffffff;
  font-size: 15px;
  width: 250px;
  background: #0a093a;
}

@media (min-width: 768px) {
  #myhome-paragraph {
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    background-color: rgb(10,9,58);
  }
}

.hero-button {
  background-color: #0A093A;
  font-size: 13px;
}

@media (min-width: 768px) {
  .hero-button {
    background-color: #0A093A;
    font-size: 19px;
  }
}

#myhome-grid {
  margin-top: 30px;
}

#grid {
}

.img-grid1 {
  margin-bottom: 30px;
}

.Head1 {
  font-weight: bold;
  font-size: 25px;
}

.par-grid {
  font-size: 16px;
  background: #f1f9ff;
  border-style: none;
  box-shadow: 10px 10px #0A093A, inset 10px 10px #0A093A;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .par-grid {
    font-size: 16px;
    background: #f1f9ff;
    border-style: none;
    box-shadow: 10px 10px #0A093A, inset 10px 10px #0A093A;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.grid-row {
  text-align: center;
  margin-top: 60px;
}

@media (min-width: 768px) {
  .grid-row {
    text-align: left;
    margin-top: 60px;
  }
}

.img-center {
  text-align: center;
}

#call-to-action {
  height: auto;
  width: 100%;
  margin-top: 50px;
  background: #29ABE2;
  padding-top: 15px;
  padding-bottom: 15px;
}

#call-heading {
  text-align: center;
  font-weight: bold;
}

#call-paragraph {
  text-align: center;
  color: #ffffff;
  width: 65%;
  margin: 0 auto;
  margin-bottom: 10px;
}

#tre-buttons {
  text-align: center;
}

.butt-1 {
  margin-right: 20px;
}

#testimony-video {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#testimony {
  color: rgb(10,9,58);
  font-size: 18px;
}

#testimony-video iframe {
  width: 300px;
  height: 150px;
}

@media (min-width: 576px) {
  #testimony-video iframe {
    width: 560px;
    height: 300px;
  }
}

.butt-size {
  font-size: 9px;
}

@media (min-width: 576px) {
  .butt-size {
    font-size: 13px;
  }
}

#footer-butt, #news-butt {
  background-color: #0a2479;
}

.footer-col {
  width: 200px;
}

#footer {
  background-color: #DCEFFE;
  width: 100%;
  margin: 0px;
  padding-top: 10px;
}

.footer-heading {
  font-size: 20px;
  font-weight: bold;
}

.footer-para {
  font-size: 13px;
  font-weight: bold;
}

.footer-links {
  color: rgb(33,37,41);
  font-weight: bold;
  font-size: 16px;
}

#footer-image {
  width: 80px;
}

.footer-bott-marg {
  margin-bottom: 20px;
}

#footer-link {
  display: none;
}

@media (min-width: 576px) {
  #footer-link {
    display: block;
  }
}

#footer-social {
  height: 50px;
  background-color: #29abe2;
  margin-top: 15px;
}

.social-icons-size {
  font-size: 20px;
  color: #ffffff;
  margin: 5px;
  padding: 10px;
}

#Cards {
  margin-top: 30px;
  margin-bottom: 30px;
}

.img-size {
  width: 375px;
  height: 283px;
}

@media (min-width: 768px) {
  .img-size {
    width: 275px;
    height: 183px;
  }
}

.heit {
  margin-bottom: 25px;
}

.Contactus-text {
  padding-right: 30px;
  padding-left: 30px;
  background: #f1f9ff;
  padding-top: 15px;
}

.form-bg {
  background-color: #f1f9ff;
}

.program-img {
  width: 400px;
}

@media (min-width: 768px) {
  .program-img {
    width: 300px;
  }
}

.colargin {
}

@media (min-width: 1200px) {
  .colargin {
    margin-left: 65px;
  }
}

.colargina {
}

@media (min-width: 992px) {
  .colargina {
    margin-left: 65px;
  }
}

@media (min-width: 992px) {
  .colarginwwd {
    margin-left: 65px;
  }
}

@media (min-width: 992px) {
  .colarginmg {
  }
}

.hov_all:hover {
  font-weight: bold;
  font-size: 15px !important;
  border: 3px solid #0a093a ;
}

.hov_imgg:hover {
  border: 3px solid rgba(10,9,58, 0.8);
}
